In [1]:
#Dependencies
import numpy as np
import pandas as pd
import requests
from pprint import pprint
from pandas_profiling import ProfileReport

In [2]:
covid_df=pd.read_csv(r'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_US.csv')

In [3]:
mi_covid_df = covid_df.loc[covid_df['Province_State']=='Michigan']

In [4]:
mi_covid_df = mi_covid_df.drop(mi_covid_df.iloc[:,:4], axis=1)

In [5]:
mi_covid_df = mi_covid_df.drop(labels= ['Country_Region','Lat','Long_','Combined_Key'], axis=1)

In [6]:
mi_covid_df = mi_covid_df.rename(columns={'Admin2': 'County', 'Province_State':'State'})

In [7]:
mi_covid_df = mi_covid_df.reset_index(drop=True)

In [8]:
mi_covid_df

,FIPS,County,State,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,...,5/29/21,5/30/21,5/31/21,6/1/21,6/2/21,6/3/21,6/4/21,6/5/21,6/6/21,6/7/21
0,26001.0,Alcona,Michigan,0,0,0,0,0,0,0,...,738,738,738,738,738,738,738,738,738,738
1,26003.0,Alger,Michigan,0,0,0,0,0,0,0,...,515,515,515,515,515,515,515,515,515,516
2,26005.0,Allegan,Michigan,0,0,0,0,0,0,0,...,11079,11079,11079,11092,11099,11107,11117,11118,11118,11124
3,26007.0,Alpena,Michigan,0,0,0,0,0,0,0,...,2258,2258,2258,2259,2260,2260,2262,2262,2262,2262
4,26009.0,Antrim,Michigan,0,0,0,0,0,0,0,...,1624,1624,1624,1628,1628,1628,1627,1627,1627,1627
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82,90026.0,Unassigned,Michigan,0,0,0,0,0,0,0,...,31,31,31,19,19,19,19,22,22,20
83,26159.0,Van Buren,Michigan,0,0,0,0,0,0,0,...,7081,7081,7081,7091,7094,7095,7101,7109,7109,7112
84,26161.0,Washtenaw,Michigan,0,0,0,0,0,0,0,...,26374,26374,26374,26386,26393,26400,26402,26404,26404,26412
85,26163.0,Wayne,Michigan,0,0,0,0,0,0,0,...,164185,164185,164185,164360,164451,164555,164691,164769,164769,164860
86,26165.0,Wexford,Michigan,0,0,0,0,0,0,0,...,2883,2883,2883,2884,2884,2886,2886,2887,2887,2887

In [9]:
total_df = mi_covid_df.groupby('State').sum()
total_df = total_df.drop(labels=['FIPS'], axis=1)

In [10]:
total_df

,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,1/31/20,...,5/29/21,5/30/21,5/31/21,6/1/21,6/2/21,6/3/21,6/4/21,6/5/21,6/6/21,6/7/21
State,,,,,,,,,,,,,,,,,,,,,
Michigan,0,0,0,0,0,0,0,0,0,0,...,991941,991941,991941,992925,993422,993952,994506,994935,994935,995397